/* Header */
.navbar{
    background-color: #FFE01B;
}

.nav-link{
    margin-left: 20px;
}


/* body */
.mContainer{
    display: flex;
    background-color: #ffea00;
    flex-wrap: wrap;
}

.textContainer{
    margin-top: 150px;
    margin-left: 90px;
    line-height: 40px;
}

.mainTitle{
    font-family: 'Righteous', cursive;
    margin-bottom: 20px;
}

.English-smallTitle{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    font-size: 20px;
}

.programmerImages{
    width: 600px;
    margin-top: -100px;
    margin-right: 20px;
}

/* copy */

.selector-for-some-widget {
    box-sizing: border-box;
  }

  /* card */
.card-button{
    float: right;
}

.row{
    justify-content: end;
}

.container{
    background-color: #caf0f8;
}
/*slide */
